<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/CSS/style.css">
        <title>Welcome</title>
    </head>
<body>
    <div>
        <h1>What would you like to do</h1>
        <div>
            <input type="button" onclick="location.href='/image/create'" value="upload Image">
            <input type="button" onclick="location.href='/image/display'" value="display Images">
            <input type="button" onclick="location.href='/profile'" value="edit your profile">
            <input type="button" onclick="location.href='/search'" value="search for a user">
        </div>
    </div>
</body>
</html>