<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile</title>
	<link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
	<% if(user.profilPicture.data != null){ %>
		<img src="data:<%=user.profilPicture.contentType%>;base64,
		<%=user.profilPicture.data.toString('base64')%>">
	 <% } %>
	<br>
	<div>
		<form action="/changeProfilePicture" method="POST"  enctype="multipart/form-data">
            <label for="image">Do you wanna change your profile picture?</label>
            <input accept="image/*" name="image" id="image" required type="file">
            <button name="submit">change</button>
		</form>
	</div>
    <div>
		<input type="button" onclick="location.href='/home';" value="Home" />
	</div>
</body>
</html>