<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome</title>
	<link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
	<h1>
		Welcome to Instagrammy
	</h1>
	<hr>
	<div>
		<form action="/loginView" method="GET" enctype="multipart/form-data">
			<div>
                <label name="login">Go to Login page</label>
				<button type="submit">Login</button>
			</div>
		</form>

        <form action="/register" method="GET" enctype="multipart/form-data">
			<div>
                <label name="register">If you dont have an account sign up here</label>
				<button type="submit">Register</button>
			</div>
		</form>
	</div>
</body>

</html>